html {
  --cardWidth: 18rem;
}

body {
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}

.parallax {
  background-image: url("../img/background.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  max-width: calc(var(--cardWidth) * 3);
  margin: 0 auto;
}

.navbar .form-inline {
  gap: 6px;
}

.headLine {
  text-align: left;
  font-family: "Mynerve", cursive;
  color: lightgoldenrodyellow;
}

.paragraph1 {
  text-align: start;
}

.crypto-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  align-items: baseline;
  text-align: left;
  margin: 1.5rem auto;
}

@media screen and (max-width: 800px) {
  .crypto-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 580px) {
  .crypto-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.crypto-grid .card {
  width: var(--cardWidth);
  padding-left: 1rem;
  background-color: lightgoldenrodyellow;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-left: 100px;
  top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#moreInfoBtn {
  color: white;
}

.card-title {
  margin-bottom: 10px;
}

nav {
  display: inline-block;
}

#coinsIMG {
  width: 50px;
  margin-bottom: 10px;
}

.favorite-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: #333;
}
